<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <!--BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!--Google Font Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="../assets/css/css_styles.css">

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/3a28de9b1b.js" crossorigin="anonymous"></script>


    <title>Cuppon</title>
</head>
<body>

<header class="flex-header container-fluid py-2  align-items-center">
    <h2 class="my-2">CUPPON</h2>
    <div class="div-list">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Disabled</a></li>
        </ul>
    </div>

    <div class="dropdown">
      <button type="button" class="btn btn-outline-light m-0 dropbtn" style="--bs-btn-margin-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">

            <i class="fa-solid fa-bars fa-2x"></i>
        </button>
      <div class="dropdown-content">
        <a href="#">Home</a>
        <a href="#">Features</a>
        <a href="#">Pricing</a>
        <a href="#">Disabled</a>
      </div>
    </div>
</header>

<main class="mt-2 mb-4 mx-3">
    <div class="row gx-2 gy-2">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%;">
              <img src="../assets/imgs/cama.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text">Cama con concepto innovador y comodo.</p>
                  <p style="color:#707070" class="fs-6 my-0">
                      Ripley, Costanera
                  </p>
                  <div class="d-flex flex-row mx-1" style="color:#707070">
                        <i class="fa-solid fa-location-dot fs-6"></i>
                        <p class="fs-6 my-0">
                            Avenida Andrés Bello 2425, Las Condes, Santiago.
                        </p>
                  </div>

              </div>
                  <ul class="list-group list-group-flush d-flex flex-row justify-content-end text-center align-items-center">
                    <li class="list-group-item border border-0">$ 98.300</li>
                    <li class="list-group-item fs-5 m-0" style="color:#28A745;">$ 65.000</li>
                  </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%;">
              <img src="../assets/imgs/laptop.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Laptop marca Assus: rendimiento, comodidad y estilo para tus estudios a un precio increíble.</p>
                  <p style="color:#707070" class="fs-6 my-0">
                      Ripley, Costanera
                  </p>
                  <div class="d-flex flex-row mx-1" style="color:#707070">
                        <i class="fa-solid fa-location-dot fs-6"></i>
                        <p class="fs-6 my-0">
                            Avenida Andrés Bello 2425, Las Condes, Santiago.
                        </p>
                  </div>
              </div>
                  <ul class="list-group list-group-flush d-flex flex-row justify-content-end text-center align-items-center">
                    <li class="list-group-item border border-0">$ 550.000</li>
                    <li class="list-group-item fs-5 m-0" style="color:#28A745;">$ 350.000</li>
                  </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%;">
              <img src="../assets/imgs/libros.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                    Libro de ciencia ficción de la autora Christine: una aventura trepidante que te hará viajar a un mundo increíble.
                </p>
                  <p style="color:#707070" class="fs-6 my-0">
                      Librería Z
                  </p>
                  <div class="d-flex flex-row mx-1" style="color:#707070">
                        <i class="fa-solid fa-location-dot fs-6"></i>
                        <p class="fs-6 my-0">
                            Sebastián Elcano 1023, Las Condes, Santiago.
                        </p>
                  </div>
              </div>
                  <ul class="list-group list-group-flush d-flex flex-row justify-content-end text-center align-items-center">
                    <li class="list-group-item border border-0">$ 25.500</li>
                    <li class="list-group-item fs-5 m-0" style="color:#28A745;">$ 17.500</li>
                  </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%;">
              <img src="../assets/imgs/pizza.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                    Las mejores pizzas caseras y artesanales, con ingredientes frescos y naturales, a un precio irresistible.
                </p>
                  <p style="color:#707070" class="fs-6 my-0">
                      Pizzería W
                  </p>
                  <div class="d-flex flex-row mx-1" style="color:#707070">
                        <i class="fa-solid fa-location-dot fs-6"></i>
                        <p class="fs-6 my-0">
                            Avenida Las Condes 7085, Las Condes, Santiago.
                        </p>
                  </div>
              </div>
                  <ul class="list-group list-group-flush d-flex flex-row justify-content-end text-center align-items-center">
                    <li class="list-group-item border border-0">$ 13.150</li>
                    <li class="list-group-item fs-5 m-0" style="color:#28A745;">$ 8.200</li>
                  </ul>
            </div>
        </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="width: 100%;">
              <img src="../assets/imgs/tm-img-09.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                    Festival de luces chinas que te sorprenderá con sus espectaculares instalaciones, shows artísticos y gastronomía típica
                </p>
                  <p style="color:#707070" class="fs-6 my-0">
                      Fesiluz Cerrillos
                  </p>
                  <div class="d-flex flex-row mx-1" style="color:#707070">
                        <i class="fa-solid fa-location-dot fs-6"></i>
                        <p class="fs-6 my-0">
                             Parque Orione, Ruta G-30 7860, Cerrillos.
                        </p>
                  </div>
              </div>
                  <ul class="list-group list-group-flush d-flex flex-row justify-content-end text-center align-items-center">
                    <li class="list-group-item border border-0">$ 15.000</li>
                    <li class="list-group-item fs-5 m-0" style="color:#28A745;">$ 10.000</li>
                  </ul>
            </div>
        </div>

    </div>



</main>

<section class="flex-section">
    <h2>Recibe cupones en tu correo</h2>
    <form action="" class="mx-2 my-1">
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Nombre">
    </form>

    <form action="" class="mx-2 my-2">
        <input type="email" id="disabledTextInput" class="form-control" placeholder="Correo Electrónico">
    </form>

    <div class="text-center mx-2 my-2">
      <button class="btn btn-light btn-lg">Enviar</button>
    </div>

</section>

<footer class="container-fluid">
    <h2>CUPPON</h2>
    <p>
        &#169 2018 Cuppon Latam. Todos los derechos reservados.
    </p>
</footer>

</body>
</html>